prefix       = "terraform"
project      = "eks-setup"
environment  = "dev"
aws_region   = "us-east-1"
cluster_name = "eks-cluster"
cidr_block   = "10.0.0.0/16"

# Domínio do ArgoCD (ex: argocd.seudominio.com)
argocd_domain = "argocd.seudominio.com"

# Domínio das aplicações (ex: desafio.seudominio.com)
apps_domain = "desafio.seudominio.com"

# URL do repositório GitOps (onde estão os manifestos k8s/)
argocd_repo_url = "https://github.com/seu-usuario/seu-repo-gitops"

argocd_target_revision = "fase-4-observabilidade"

# Senha dos bancos de dados RDS (usar valor forte em produção)
db_password = "SenhaForte@2026!"
